@import '../../assets/styles/common.less';

.login {
  height: 100vh;
  width: 100vw;
  min-height: @minHeight;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-box {
    width: 300px;

    h4 {
      text-align: center;
      font-size: 22px;
    }

    &-change {
      color: @subSpanColor;
      border-bottom: 1px solid @subSpanColor;
    }

    &-change:hover {
      color: @subSpanHoverColor;
      border-bottom: 1px solid @subSpanHoverColor;
      cursor: pointer;
    }

    button {
      width: 100%;
    }
  }
}