.module-sider {
  a {
    text-align: center !important;
    font-weight: normal !important;
  }
}

.module-sider-logo {
  width: 100%;
  text-align: center;
  margin: 24px 0;
  img {
    width: 48px;
    height: 48px;
  }
}